# 01. Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as nap
import os

# 02. Import data

In [2]:
path = r'C:\Users\alexp\Instacart Basket Analysis'
path

'C:\\Users\\alexp\\Instacart Basket Analysis'

In [3]:
# import the orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = 0)

# 03. Data consistency checks

## Q2

In [4]:
# used df.describe() function on df_ords dataframe
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [5]:
df_ords['orders_day_of_week'].value_counts(dropna = False)

0    600905
1    587478
2    467260
5    453368
6    448761
3    436972
4    426339
Name: orders_day_of_week, dtype: int64

## "Orders_day_of_week" seems normal, it does not exceed 7 since there are only 7 days in a week. "Days_since_prior_order" has no negative number of days nor would you expect a maximum larger than 24 fpr "order_hour_of_day" as there are only 24 hours in a day.

## Q3

In [6]:
# check for mixed-type data in df_ords dataframe
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print(col)

## Q4

## There are no mixed-type data in the df_ords dataframe.

## Q5

In [7]:
# run a check for missing values
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

## There are 206,209 missing values under the days_since_prior_order column in the df_ords dataframe.

In [8]:
# view the 206,209 missing values
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]
df_ords_nan

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
11,2168274,2,1,2,11,NaN
26,1374495,3,1,1,14,NaN
39,3343014,4,1,6,11,NaN
45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...
3420930,969311,206205,1,4,12,NaN
3420934,3189322,206206,1,3,18,NaN
3421002,2166133,206207,1,6,19,NaN
3421019,2227043,206208,1,1,15,NaN
3421069,3154581,206209,1,3,11,NaN

## Q6

In [9]:
df_ords_nan.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
11,2168274,2,1,2,11,NaN
26,1374495,3,1,1,14,NaN
39,3343014,4,1,6,11,NaN
45,2717275,5,1,3,12,NaN

In [17]:
df_ords.shape

(3421083, 6)

In [20]:
df_ords.max()

order_id                  3421083.0
user_id                    206209.0
order_number                  100.0
orders_day_of_week              6.0
order_hour_of_day              23.0
days_since_prior_order         30.0
dtype: float64

## All of the records that contain missing values (NaN) in the 'days_since_prior_order' column are due to the 'order_number' column having a value of '1'. Since this a first-time purchase, it is not possible to register a value in the 'days_since_prior_order' column.
## No changes will be made since the missing values (NaN) can hold an importance just as much as the non-missing values.

## Q7

In [13]:
# run a check for duplicate values
df_ords_dups = df_ords[df_ords.duplicated()]
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

## There are no duplicates in the df_ords_clean dataframe.

## Q8

## No duplicates were detected in the df_ords_clean dataframe.

## Q9

In [ ]:
# export df_ords data
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))