# 01. Import libraries
## Q1

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Import data

In [3]:
# path folder
path = r'C:\\Users\alexp\Instacart Basket Analysis'
path

'C:\\\\Users\\alexp\\Instacart Basket Analysis'

In [4]:
# import orders_products_merged_columns.pkl
orders_products_merged_columns = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_columns.pkl'))

## Q2

In [4]:
# calculate the mean of the “order_number” column grouped by the “department_id” column
orders_products_merged_columns.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [5]:
# proving a significant difference between the means of different groups (t-test)
orders_products_merged_columns.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [6]:
orders_products_merged_columns[orders_products_merged_columns['department_id']==5]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
4124301,2030307,4,2,4,11,19.0,42329,1,0,Private Selection Pinot Noir,28,5,1.5,both,Low range product,Least busy,Slowest days,Most orders
4124302,1799382,4790,2,1,18,3.0,42329,3,0,Private Selection Pinot Noir,28,5,1.5,both,Low range product,Regularly busy,Busiest days,Average orders
4124303,1419429,4790,6,4,22,10.0,42329,3,1,Private Selection Pinot Noir,28,5,1.5,both,Low range product,Least busy,Slowest days,Fewest orders
4124304,2524413,10726,3,2,12,0.0,42329,1,0,Private Selection Pinot Noir,28,5,1.5,both,Low range product,Regularly busy,Regular days,Most orders
4124305,870086,10726,10,1,18,13.0,42329,1,1,Private Selection Pinot Noir,28,5,1.5,both,Low range product,Regularly busy,Busiest days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404815,1666202,189140,2,3,11,20.0,47680,1,0,Indian Wells Merlot,28,5,2.2,both,Low range product,Regularly busy,Slowest days,Most orders
32404833,346319,196040,9,3,16,16.0,35952,13,0,Peachtree Schnapps,124,5,3.2,both,Low range product,Regularly busy,Slowest days,Most orders
32404834,828012,196359,2,1,7,8.0,48343,6,0,Hennepin Farmhouse Ale,27,5,10.2,both,Mid range product,Regularly busy,Busiest days,Fewest orders
32404837,2216423,198107,2,5,16,7.0,29713,4,0,18 Year Scotch Whisky,124,5,2.6,both,Low range product,Regularly busy,Regular days,Most orders
32404838,136517,198107,4,1,13,8.0,29713,3,1,18 Year Scotch Whisky,124,5,2.6,both,Low range product,Regularly busy,Busiest days,Most orders

In [7]:
orders_products_merged_columns[orders_products_merged_columns['department_id']==21]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
8531132,1468214,11,7,5,9,30.0,30563,8,0,Strained Non-Fat Strawberry Icelandic Style Sk...,100,21,7.1,both,Mid range product,Regularly busy,Regular days,Most orders
8531133,533135,186,5,0,13,20.0,30563,10,0,Strained Non-Fat Strawberry Icelandic Style Sk...,100,21,7.1,both,Mid range product,Busiest day,Busiest days,Most orders
8531134,1251046,476,13,5,14,7.0,30563,16,0,Strained Non-Fat Strawberry Icelandic Style Sk...,100,21,7.1,both,Mid range product,Regularly busy,Regular days,Most orders
8531135,2451180,803,7,2,18,16.0,30563,13,0,Strained Non-Fat Strawberry Icelandic Style Sk...,100,21,7.1,both,Mid range product,Regularly busy,Regular days,Average orders
8531136,18216,1000,6,6,16,7.0,30563,1,0,Strained Non-Fat Strawberry Icelandic Style Sk...,100,21,7.1,both,Mid range product,Regularly busy,Regular days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404749,2587151,185774,29,1,16,8.0,42880,12,0,Organic Unpasteurized Brown Rice Miso,100,21,3.6,both,Low range product,Regularly busy,Busiest days,Most orders
32404750,3076227,190389,57,2,22,1.0,42880,4,0,Organic Unpasteurized Brown Rice Miso,100,21,3.6,both,Low range product,Regularly busy,Regular days,Fewest orders
32404751,1709455,190389,72,6,10,6.0,42880,7,1,Organic Unpasteurized Brown Rice Miso,100,21,3.6,both,Low range product,Regularly busy,Regular days,Most orders
32404752,1447395,205347,5,3,15,12.0,42880,10,0,Organic Unpasteurized Brown Rice Miso,100,21,3.6,both,Low range product,Regularly busy,Slowest days,Most orders
32404754,2904085,175382,28,2,8,5.0,31333,8,0,Organic Chickpea Fusilli Pasta,100,21,5.7,both,Mid range product,Regularly busy,Regular days,Average orders

In [15]:
print(orders_products_merged_columns['department_id'].unique())

[ 7 16 19 17  4 14 13 20  1 11 12  6  3 15  9  5  8 18  2 21 10]

## Q3

## For subset of the orders_products_merged_columns dataframe, produce (4)with a mean of around 19 sold considerably more on average than household goods (17) with a mean of around 11. 
## However when calculating the mean for the entire dataframe, "missing" (21) with a mean of around 23 sold considerably more on average than alcohol (5) with a mean of around 15.

## Q4

## Flag criteria:
## If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
## If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
## If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

## Three-step process:
## 1. Split the data into groups based on the “user_id” column.
## 2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
## 3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.

In [9]:
# create loyalty flag using transform() function
orders_products_merged_columns['max_order'] = orders_products_merged_columns.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
orders_products_merged_columns.head(30)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Fewest orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Fewest orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Fewest orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Fewest orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,27

Note: A new column “max_order” has been created. We can now create another new column that assigns a loyalty flag to each customer according to the criteria via the loc() function.

In [11]:
# create loyalty flag using loc() function
orders_products_merged_columns.loc[orders_products_merged_columns['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
orders_products_merged_columns.loc[(orders_products_merged_columns['max_order'] <= 40) & (orders_products_merged_columns['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
orders_products_merged_columns.loc[orders_products_merged_columns['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# find the frequency of "loyalty_flag" column
orders_products_merged_columns['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

## Q5

In [15]:
# calculate the mean of the mean, minimum. and maximum of the “prices” column grouped by the “loyalty_flag” column
orders_products_merged_columns.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## Prices of products for loyal customer (10) is lower than new customer (13) and regular customer (12). New and regular customers spend nearly the same amount via Instacart.

## Q6

## Flag criteria:
## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

## Three-step process:
## 1. Split the data into groups based on the “user_id” column.
## 2. Apply the transform() function on the “prices” column to generate the average prices for each user.
## 3. Create a new column, “max_spender,” into which you’ll place the results of your aggregation.

In [16]:
# create a new column containing the mean frequency of the "prices" column
orders_products_merged_columns['max_spender'] = orders_products_merged_columns.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
orders_products_merged_columns.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Fewest orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793

Note: A new column “max_spender” has been created. We can now create another new column that assigns a spending flag to each user according to the criteria via the loc() function.

In [18]:
# create a flag that assigns a "spending" label to a user ID based on its corresponding max_spender value
orders_products_merged_columns.loc[orders_products_merged_columns['max_spender'] < 10, 'spending_flag'] = 'Low spender'

In [19]:
orders_products_merged_columns.loc[orders_products_merged_columns['max_spender'] >= 10, 'spending_flag'] = 'High spender'

In [20]:
# print the frequency of your new “spending_flag” column
orders_products_merged_columns['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

Note: There are more low spenders than high spenders which indicates customers are more likely to spend less than more on products via Instacart.

In [21]:
orders_products_merged_columns[['user_id', 'spending_flag', 'prices']].head(100)

    user_id spending_flag  prices
0         1   Low spender     9.0
1         1   Low spender     9.0
2         1   Low spender     9.0
3         1   Low spender     9.0
4         1   Low spender     9.0
..      ...           ...     ...
95      360  High spender     9.0
96      377   Low spender     9.0
97      387   Low spender     9.0
98      420   Low spender     9.0
99      420   Low spender     9.0

[100 rows x 3 columns]

## Q7

## Flag criteria
## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

## Three-step process:
## 1. Split the data into groups based on the “user_id” column.
## 2. Apply the transform() function on the “days_since_prior_order” column to generate the median values for each user.
## 3. Create a new column, “ordering_behavior,” into which you’ll place the results of your aggregation.

In [7]:
# create a new column containing the median frequency of the "days_since_prior_order" column
orders_products_merged_columns['ordering_behavior'] = orders_products_merged_columns.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [8]:
orders_products_merged_columns.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,ordering_behavior
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Fewest orders,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Fewest orders,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Fewest orders,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,6.0

Note: A new column “ordering_behavior” has been created. We can now create another new column that assigns an order frequency flag to each user according to the criteria via the loc() function.

In [9]:
# create a flag that assigns a "spending" label to a user ID based on its corresponding max_spender value
orders_products_merged_columns.loc[orders_products_merged_columns['ordering_behavior'] > 20, 'order_frequency_flag'] = 'Non frequent customer'

In [10]:
orders_products_merged_columns.loc[(orders_products_merged_columns['ordering_behavior'] <= 20) & (orders_products_merged_columns['ordering_behavior'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [11]:
orders_products_merged_columns.loc[orders_products_merged_columns['ordering_behavior'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [12]:
# print the frequency of your new “order_frequency_flag” column
orders_products_merged_columns['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

Note: It is recommended to send relevant notifications to frequent customers in case they are interested in buying the same item again.

In [13]:
orders_products_merged_columns[['user_id', 'order_frequency_flag', 'days_since_prior_order']].head(60)

    user_id   order_frequency_flag  days_since_prior_order
0         1  Non frequent customer                     NaN
1         1  Non frequent customer                    15.0
2         1  Non frequent customer                    21.0
3         1  Non frequent customer                    29.0
4         1  Non frequent customer                    28.0
5         1  Non frequent customer                    19.0
6         1  Non frequent customer                    20.0
7         1  Non frequent customer                    14.0
8         1  Non frequent customer                     0.0
9         1  Non frequent customer                    30.0
10       15      Frequent customer                     7.0
11       15      Frequent customer                     8.0
12       15      Frequent customer                     7.0
13       15      Frequent customer                     7.0
14       15      Frequent customer                    14.0
15       19      Frequent customer                     6.0
16       19      Frequent customer                     8.0
17       19      Frequent customer                     6.0
18       21      Frequent customer                     6.0
19       31      Frequent customer                     7.0
20       31      Frequent customer                     8.0
21       43      Frequent customer                     4.0
22       43      Frequent customer                     3.0
23       52      Frequent customer                     NaN
24       52      Frequent customer                     7.0
25       52      Frequent customer                     7.0
26       52      Frequent customer                     8.0
27       52      Frequent customer                     8.0
28       52      Frequent customer                     7.0
29       52      Frequent customer                     8.0
30       52      Frequent customer                     7.0
31       52      Frequent customer                     6.0
32       52      Frequent customer                     8.0
33       52      Frequent customer                     6.0
34       52      Frequent customer                    14.0
35       52      Frequent customer                     8.0
36       52      Frequent customer                    30.0
37       67      Frequent customer                     NaN
38       67      Frequent customer                     5.0
39       67      Frequent customer                     7.0
40       67      Frequent customer                     8.0
41       67      Frequent customer                     8.0
42       67      Frequent customer                     7.0
43       67      Frequent customer                     7.0
44       67      Frequent customer                     7.0
45       67      Frequent customer                     6.0
46       67      Frequent customer                     7.0
47       67      Frequent customer                     8.0
48       67      Frequent customer                     6.0
49       67      Frequent customer                     7.0
50       67      Frequent customer                     9.0
51       67      Frequent customer                     4.0
52       67      Frequent customer                     9.0
53       67      Frequent customer                     5.0
54       67      Frequent customer                    14.0
55       67      Frequent customer                    14.0
56       81  Non frequent customer                    14.0
57       81  Non frequent customer                    30.0
58       82       Regular customer                     NaN
59       82       Regular customer                     5.0

In [ ]:
# Export updated orders_products_merged_columns to pkl
orders_products_merged_columns.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_columns_ga.pkl'))